.info{
    padding-bottom: 80px;
    padding-top: 70px;
    padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    
        &-h{
font-size: 16px;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
        }

&-li{
font-size: 16px;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
}

.email{
    width: 200px;
    height: 58px;
    border: 1px #E6E6E6;
    background: #F9F9F9;
}

input::placeholder{
font-size: 14px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.20000000298023224px;
padding-left: 20px;
}

.email-btn{
    min-width: 117px;
    border: 1px solid #23A6F0; 
    background: #23A6F0;
    padding: 15px 0 15px 0;
    color:  #FFFFFF;
font-size: 14px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.20000000298023224px;
text-align: center;
}

.email-p{
   color: #737373;
font-size: 12px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.20000000298023224px;
}

}

.policy{
    background: #FAFAFA;
    width: 100vw;
    height: 98px;

    &-p{
font-size: 14px;
line-height: 24px;
letter-spacing: 0.20000000298023224px;
text-align: center;
color:  #737373;
width: 205px;
margin: 0 auto;
    }
}