*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: Montserrat;
    font-weight: 700;
}

ul{
    list-style: none;
}

a{
    color: #737373;
    text-decoration: none;
}

ul{
    padding: 0 0 0 0;
}